<%= link_to 'Back to list', admin_songs_path %>
<%= form_for [:admin, @song] do |f| %>
  <div class="row">
    <div class="large-5 columns">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
</div>
<div class="row">
    <div class="large-5 columns">
  <%= f.label 'English lyric' %>
  <%= f.text_area :en_lyric %>
</div>
</div>
<div class="row">
    <div class="large-5 columns">
  <%= f.label 'Spanish lyric' %>
  <%= f.text_area :es_lyric %>
</div>
</div>
<div class="row">
    <div class="large-5 columns">
  <%= f.label :level %>
  <%= f.text_field :level %>
</div>
</div>
<div class="row">
    <div class="large-5 columns">
  <%= f.label :ipa %>
  <%= f.text_field :ipa %>
</div>
</div>
<div class="row">
    <div class="large-5 columns">
  <%= f.label 'youtube video url' %>
  <%= f.text_field :url %>
</div>
</div>
<div class="row">
  <%= f.submit class: 'button tiny' %>
</div>
<% end %>
