!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Admin Musa app"
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag 'http://codeorigin.jquery.com/jquery-2.0.3.js'
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    #user-widget
      - if admin_signed_in?
        %p
          Welcome #{current_admin.email}
        = link_to 'Logged In [click to logout]', destroy_admin_session_path, :method => :delete
      - else
        %p You are not signed in.
        = link_to 'Login', new_admin_session_path

    = yield

    = javascript_include_tag "application"
